# Pandas

https://www.kaggle.com/c/overfitting

The data file contains 200 randomly generated variables, var_1 to var_200. 

There are 20,000 rows of data, of which you are only given the 'Target' for the first 250. The 'Target' is either 1 or 0, so this is a classification problem.

### Importing Dataset

In [1]:
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('C:/Users/Desktop/python/03 advance/overfitting.csv')
df = df.drop(['Target_Leaderboard','Target_Evaluate'],axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Columns: 203 entries, case_id to var_200
dtypes: float64(200), int64(3)
memory usage: 31.0 MB

In [3]:
df.head()

,case_id,train,Target_Practice,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199,var_200
0,1,1,0,0.660,0.106,0.434,0.387,0.903,0.661,0.158,...,0.015,0.377,0.479,0.050,0.395,0.123,0.833,0.461,0.990,0.105
1,2,1,1,0.844,0.813,0.030,0.939,0.721,0.287,0.539,...,0.112,0.048,0.088,0.860,0.560,0.346,0.511,0.883,0.858,0.599
2,3,1,0,0.560,0.567,0.568,0.434,0.414,0.180,0.448,...,0.874,0.236,0.599,0.602,0.005,0.493,0.122,0.395,0.782,0.943
3,4,1,0,0.681,0.245,0.909,0.785,0.738,0.570,0.692,...,0.219,0.691,0.261,0.031,0.968,0.353,0.798,0.104,0.944,0.090
4,5,1,0,0.846,0.431,0.805,0.237,0.465,0.642,0.219,...,0.704,0.242,0.089,0.605,0.577,0.043,0.686,0.070,0.666,0.572

In [4]:
df.train.value_counts()

0    19750
1      250
Name: train, dtype: int64

### Train and Test Split

In [5]:
train = df[df['train']==1]
train = train.drop(['case_id','train'],axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 249
Columns: 201 entries, Target_Practice to var_200
dtypes: float64(200), int64(1)
memory usage: 394.5 KB

In [6]:
test = df[df['train']==0]
test = test.drop(['case_id','train'],axis=1)
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19750 entries, 250 to 19999
Columns: 201 entries, Target_Practice to var_200
dtypes: float64(200), int64(1)
memory usage: 30.4 MB

In [7]:
y_train = train['Target_Practice']
y_test = test['Target_Practice']

In [8]:
x_train = train.drop(['Target_Practice'],axis=1)
x_train.describe()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199,var_200
count,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,...,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000,250.000000
mean,0.515564,0.499984,0.491172,0.533664,0.493556,0.493308,0.503380,0.490580,0.508116,0.467448,...,0.494188,0.483484,0.489176,0.476996,0.506612,0.487852,0.485272,0.499436,0.484928,0.494028
std,0.295878,0.303769,0.288538,0.284235,0.290833,0.294168,0.279257,0.290459,0.295278,0.274917,...,0.293931,0.282872,0.285203,0.289716,0.292900,0.280595,0.286139,0.300880,0.281306,0.300464
min,0.004000,0.005000,0.007000,0.002000,0.008000,0.003000,0.003000,0.006000,0.001000,0.002000,...,0.007000,0.003000,0.003000,0.005000,0.003000,0.003000,0.013000,0.002000,0.003000,0.003000
25%,0.244000,0.234250,0.260000,0.291750,0.225750,0.224500,0.282250,0.251750,0.232000,0.230750,...,0.224250,0.253250,0.219250,0.213000,0.249000,0.260750,0.238000,0.240250,0.245500,0.229000
50%,0.544000,0.497500,0.465500,0.516500,0.487500,0.511500,0.524000,0.479500,0.509000,0.468500,...,0.481500,0.460500,0.493000,0.482500,0.511500,0.474500,0.479500,0.484000,0.507500,0.491000
75%,0.755500,0.761250,0.725000,0.785000,0.747750,0.746250,0.718500,0.736500,0.762000,0.698000,...,0.760000,0.717250,0.744750,0.725750,0.759750,0.727750,0.747750,0.777250,0.705000,0.760250
max,0.989000,0.999000,0.996000,0.997000,0.992000,0.991000,0.988000,0.999000,0.998000,0.991000,...,0.998000,1.000000,0.980000,0.989000,0.998000,0.988000,1.000000,1.000000,0.999000,0.998000

In [9]:
x_test = test.drop(['Target_Practice'],axis=1)
x_test.describe()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199,var_200
count,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,...,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000,19750.000000
mean,0.500895,0.499868,0.500315,0.501703,0.494607,0.499847,0.501025,0.500042,0.499505,0.501603,...,0.504225,0.501789,0.500569,0.502974,0.495753,0.499164,0.496382,0.498446,0.498364,0.500979
std,0.288752,0.287902,0.288718,0.288632,0.288406,0.288065,0.288169,0.289164,0.287864,0.288931,...,0.290074,0.290297,0.287691,0.288603,0.288645,0.289827,0.287891,0.290927,0.288445,0.288134
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.249000,0.252000,0.251000,0.249000,0.243000,0.249000,0.253000,0.251000,0.251000,0.251000,...,0.253000,0.252000,0.252000,0.252000,0.247000,0.248000,0.247000,0.247000,0.246000,0.253000
50%,0.504000,0.501000,0.502000,0.506000,0.495000,0.503000,0.499000,0.500000,0.498000,0.502000,...,0.506000,0.502000,0.500000,0.506000,0.496000,0.496000,0.493000,0.496000,0.501000,0.501000
75%,0.751000,0.750000,0.753000,0.752000,0.744000,0.748000,0.751000,0.751000,0.751000,0.754000,...,0.756750,0.754000,0.749000,0.755000,0.745000,0.751000,0.745000,0.752000,0.748000,0.749000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000